<nav>
	<div class="nav-wrapper light-green darken-3">
		<a href="/" class="brand-logo">AsianSauces.com</a>
		<a href="/" data-target="mobile-demo" class="sidenav-trigger"><i
				class="fas fa-bars"
			></i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="/admin/products">Add Products</a></li>
			<li><a href="/admin">Manage User's</a></li>
			<li>
				<a class="dropdown-trigger btn deep-orange accent-4"
					href="#"
					data-target="dropdown"
				>Account</a></li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li><a href="sass.html">Sass</a></li>
	<li><a href="badges.html">Components</a></li>
	<li><a href="collapsible.html">Javascript</a></li>
	<li><a href="mobile.html">Logout</a></li>
</ul>

<!-- Dropdown Structure -->
<ul id="dropdown" class="dropdown-content">
	<li><a href="#!"><i class="material-icons">manage_accounts</i></a></li>
	<li><a href="/auth/logout">Logout</a></li>
</ul>