<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Money-Back Guarantee!</h5>
				<p class="grey-text text-lighten-4"> If you're not satified with your purchases on AsianSauces.com. We'll refund your purchased, along with a free return shipping label.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">FAQ</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">Returns</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Shipping</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2022 Asian Sacues Inc
		</div>
	</div>
</footer>