<div class="carousel carousel-slider">
	<a class="carousel-item" href="#one!"><img
			src="https://jingdaily.com/wp-content/uploads/2017/08/shutterstock_492267004.jpg"
			alt="Asian shopping"
			width="500"
			height="650"
		/></a>
	<a class="carousel-item" href="#one!"><img
			src="https://thumbs.dreamstime.com/z/group-young-asian-women-shopping-outdoor-market-bags-their-hands-show-what-got-bag-under-warm-sunlight-concept-132570546.jpg"
			alt="Asian buy stuff"
			width="500"
			height="500"
		/></a>
</div>