/** @format */
.login-container {
	width: 400px;
	margin-top: 50px;
	text-align: center;
}

.brand-logo {
	padding-left: 4rem !important;
}

p {
	margin: 10px 0 !important;
}

body {
	min-height: 100vh;
}

.sliderLogin {
	display: flex;
	padding: 0;
	margin: 0;
}

.carousel {
	margin: 2rem 4rem;
	width: 60%;
}

.carousel img {
	height: 650
}

.page-footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	bottom: 0;
}

.register {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	border: 1px solid rgb(221, 218, 218);
	border-radius: 1rem;
	background: rgb(250, 250, 250);
}

.input-field label {
	font-size: 2rem;
}

.row {
	padding-left: 1rem;
	padding-right: 1rem;
}

.col {
	margin: 0;
}

label {
	padding-bottom: 1rem;
}

.login {
	border-radius: 1rem;
}

h3 {
	padding: 0;
	margin: 0;
}

.register1 {
	padding: 0 1rem;
	margin: 0 1rem;
	background: rgb(227, 241, 231);
	border-radius: 1rem;
}

